<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ static_url("styles.css") }}">
    <title>Character Search</title>
</head>
<body>
    <div class="container">
        搜索名字时注意大小写，页面纯英文自己用插件翻译
    </div>
    <form id="character-search-form">
        <label for="character-name">Enter Character Name:</label>
        <input type="text" id="character-name" name="characterName" required>
        <button type="submit">Search</button>
    </form>
    <div class="container">

        <h1>Paladin</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/WT_PAL">WT_PAL</a></div>
                <div class="stat-value">95</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-PALA">HU-PALA</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/jjj-pal">jjj-pal</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/zs-kingpal">zs-kingpal</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/zs-kingpal">zs-kingpal</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Paladin">Paladin</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pal-ga">pal-ga</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/bhpal">bhpal</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pw-qs">pw-qs</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/aa-pal">aa-pal</a></div>
                <div class="stat-value">92</div>
            </div>
        </div>
        <h1>Sorceress</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-SORFF">HU-SORFF</a></div>
                <div class="stat-value">96</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Melody">Melody</a></div>
                <div class="stat-value">95</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/LuckyGirl">LuckyGirl</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/soor">soor</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/LSGB">LSGB</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/hls-sor">hls-sor</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/jjjt">jjjt</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pizongyyds">pizongyyds</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/aa-sor">aa-sor</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/GoodLuck">GoodLuck</a></div>
                <div class="stat-value">92</div>
            </div>
        </div>
        <h1>Assassin</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pk-ck">pk-ck</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/KaKa_K">KaKa_K</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/eiasn">eiasn</a></div>
                <div class="stat-value">88</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Night">Night</a></div>
                <div class="stat-value">88</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pw-ck">pw-ck</a></div>
                <div class="stat-value">87</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/PP-asn">PP-asn</a></div>
                <div class="stat-value">87</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/xjasn">xjasn</a></div>
                <div class="stat-value">84</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/testSIN">testSIN</a></div>
                <div class="stat-value">83</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ssg">ssg</a></div>
                <div class="stat-value">83</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ali-ckk">ali-ckk</a></div>
                <div class="stat-value">75</div>
            </div>
        </div>
        <h1>Druid</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/SVIII_Dru">SVIII_Dru</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/jst_druSE">jst_druSE</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-DD">HU-DD</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pk-dd">pk-dd</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Druid">Druid</a></div>
                <div class="stat-value">91</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ZHS">ZHS</a></div>
                <div class="stat-value">91</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ali-druu">ali-druu</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Alalei">Alalei</a></div>
                <div class="stat-value">88</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pw-dlyy">pw-dlyy</a></div>
                <div class="stat-value">88</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/DUR-RR">DUR-RR</a></div>
                <div class="stat-value">88</div>
            </div>
        </div>
        <h1>Amazon</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/BiuBiuBiu">BiuBiuBiu</a></div>
                <div class="stat-value">91</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/QBBY">QBBY</a></div>
                <div class="stat-value">91</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/XXX-dama">XXX-dama</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/asnmw">asnmw</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-AMA">HU-AMA</a></div>
                <div class="stat-value">88</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/zzddaa-ama">zzddaa-ama</a></div>
                <div class="stat-value">87</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pw-am">pw-am</a></div>
                <div class="stat-value">87</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/St_Rose">St_Rose</a></div>
                <div class="stat-value">86</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Grandma">Grandma</a></div>
                <div class="stat-value">85</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/AMAA">AMAA</a></div>
                <div class="stat-value">84</div>
            </div>
        </div>
        <h1>Necromancer</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/jts_necSE">jts_necSE</a></div>
                <div class="stat-value">96</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ali-necc">ali-necc</a></div>
                <div class="stat-value">95</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HERS">HERS</a></div>
                <div class="stat-value">95</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/shuihuo">shuihuo</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/pkk">pkk</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/yyoia">yyoia</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/ZDAA-NNEECC">ZDAA-NNEECC</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/wyz-nec">wyz-nec</a></div>
                <div class="stat-value">93</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/WYW">WYW</a></div>
                <div class="stat-value">92</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-NECC">HU-NECC</a></div>
                <div class="stat-value">92</div>
            </div>
        </div>
        <h1>Barbarian</h1>
        <div class="stats">
            <div class="stat">
            <div class="stat-label"><a href="/api/char/HU-BAA">HU-BAA</a></div>
                <div class="stat-value">95</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/tt_bar">tt_bar</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/VEV">VEV</a></div>
                <div class="stat-value">94</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/Barbarian">Barbarian</a></div>
                <div class="stat-value">91</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/BarBar">BarBar</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/daqian">daqian</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/idib">idib</a></div>
                <div class="stat-value">90</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/A-YMR">A-YMR</a></div>
                <div class="stat-value">89</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/zdaa-bar">zdaa-bar</a></div>
                <div class="stat-value">89</div>
            </div>
            <div class="stat">
            <div class="stat-label"><a href="/api/char/hooo">hooo</a></div>
                <div class="stat-value">88</div>
            </div>
        </div>
    </div>
    <script src="{{ static_url("search.js") }}"></script>
</body>
</html>

